<ion-header>
  <ion-navbar color="dark">
    <ion-title>Rumah Sakit</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid *ngIf="nearbyItems.length == 0">
    <ion-row>
      <ion-col col-12>
        <h3>
          Ketik pada Search Bar untuk mencari tempat
        </h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="nearbyItems.length > 0">
    <ion-item *ngFor="let place of nearbyItems">
      <h2>{{place.name}}</h2>
      <p>{{place.vicinity}}</p>
      <p>Rating {{place.rating}}</p>
      <button ion-button clear item-end *ngIf="(place.opening_hours && !place.opening_hours.open_now)">CLOSED</button>
      <button ion-button clear item-end *ngIf="(place.opening_hours && place.opening_hours.open_now)" (click)="toPlace(place)">OPEN NOW</button>
    </ion-item>
  </ion-list>
</ion-content>
